<!-- This web was written by Pablo Martínez pmartinezr@proton.me, All Rights are Reserved -->
<html>
  {% load static %}
  <head>
    <!--include jquery-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <!-- <script>document.getElementById("zoom_value_name")[0].addEventListener('change', setZoomValue);</script>-->
    <script>
      text = "{{data}}";
      var text = text.replace(/&quot;/g, '\"');
      points_data = JSON.parse(text); 
      console.log(points_data);
      deviceID = points_data[0]["deviceID"];
    </script>

  <script>
    function getZoomValue() {
      var zoom_value = document.getElementById("zoom_value").value;
      return zoom_value;
    }
  </script> 

  <script>
    function setAutorefeshValue() {
      var autorefesh_value = document.getElementById("autorefresh_value").value;
      var metaTag = document.getElementById('refresh_rate');
      //alert(autorefesh_value)
      metaTag.setAttribute('content', autorefesh_value);
      
    }
  </script> 

    <script>
      function changeZoomValue(change) {
        let currentZoom = parseInt(document.getElementById('zoom_value').value);
        currentZoom += change;
        document.getElementById('zoom_value').value = currentZoom;
        zoom_map = currentZoom
      }

      function getMarker(deviceID){
        if (deviceID.endsWith("_SOS")){
          return "{% static 'marker_red.png' %}";
        }
        else {
          return "{% static 'marker_yellow.png' %}";
        }
      } 

      function calculateRadiusCircleValue(value) {
        if (value < 10){
          radius = value/3;
        }
        if (value < 15 || value == 15){
          radius = value/5;
        }
        if (value > 15){
          radius = value/7;
        }
        return radius;
      }
    </script>       

    <meta id="refresh_rate" http-equiv="refresh" content="10">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
    <label id='mylabel'></label>
    <title>deviceID</title>    
 
    
    <!--<script> 
      //script for relaod the mapdiv
      $(document).ready(function(){
      setInterval(function(){
          $("#map").load("#map");
      }, 20000);
      });
    </script>-->
  </head>

 <body>
  <button><a href="../../"> Tracker </a></button>

  <!--Refresh Eeach <input id="autorefresh_value" name="autorefresh_value" type="text" style="width: 40px;" value="20">s</input><button onclick="setAutorefeshValue()">set</button>-->
  Zoom <input id="zoom_value" name="zoom_value_name" type="text" value="18" style="width: 40px;">
  <button onclick="changeZoomValue(1)">+</button>
  <button onclick="changeZoomValue(-1)">-</button>
  
 <br>
  <!--OpenLayers Map stuff-->
 <!--<script src="http://www.openlayers.org/api/OpenLayers.js"></script>-->
 <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
 <!--<div id="map" style="width: 1600px;height: 800px;"></div>-->
 <div id="map"></div>
 <!-- seems js script for the map needs to go after the div -->
  <!--<script src="{% static 'osmmap.js' %}"></script>-->

  <script>
    zoom_map = 13;
    features = [];
    //create the points from the points_data variable
    //default zoom_map

    lineCoordinates = [];

    for (var i = 0; i < points_data.length; i++) {
        lon_point = points_data[i]["lon"];
        lat_point = points_data[i]["lat"];
        var coordinate = ol.proj.fromLonLat([lon_point, lat_point]);
        features.push(new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.fromLonLat([lon_point, lat_point]))
        }));
        lineCoordinates.push(coordinate);
    }
    //console.log(features);
    // create the source and layer for features
    vectorSource = new ol.source.Vector({
      features
    });

    // Crear un vectorSource separado para la línea
    var lineSource = new ol.source.Vector();

   //create a vector layer and include the source
    vectorLayer = new ol.layer.Vector({
      source: vectorSource,
      
      style: new ol.style.Style({
        image: new ol.style.Circle({
          radius: calculateRadiusCircleValue(zoom_map),
          fill: new ol.style.Fill({color: 'blue'})
        })
      })
    });

    //adding lines to open layers
    var lineString = new ol.geom.LineString(lineCoordinates);
    var lineFeature = new ol.Feature({
      geometry: lineString,
      name: 'Line'
    });
    
    lineSource.addFeature(lineFeature);

    //VectorLayer lines
    var vectorLayer_lines = new ol.layer.Vector({
      source: lineSource,
      style: function(feature) {
        // Si la geometría es de tipo LineString, aplica el estilo de línea
        if (feature.getGeometry().getType() === 'LineString') {
          return new ol.style.Style({
            stroke: new ol.style.Stroke({
              color: 'blue',
              width: calculateRadiusCircleValue(zoom_map)
            })
          });
        }
        // Si la geometría no es LineString, no aplica ningún estilo
        return null;
      }
});

    //take last positions from the data
    last_lat_point = points_data[points_data.length -1]["lat"];
    last_lon_point = points_data[points_data.length -1]["lon"];
    features_last = [];

    //Draw the last position with a red circle and text
    marker_target = new ol.layer.Vector({
      source: new ol.source.Vector(),
        style: new ol.style.Style({
        /*  image: new ol.style.Circle({
          radius:10,
          fill: new ol.style.Fill({color: 'red'})
            
        }),*/
        text: new ol.style.Text({
          font: '18px sans-serif',
          text: deviceID,
          fill: new ol.style.Fill({
            color: 'black'
          }),
          textAlign: 'center',
          textBaseline: 'bottom',
          offsetY: -15,
        })
      })
    });

    marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([last_lon_point, last_lat_point])));
    marker_target.getSource().addFeature(marker);  

    iconStyle = new ol.style.Style({
      image: new ol.style.Icon({
        opacity: 1,
        //src: "https://www.openstreetmap.org/openlayers/img/marker.png",
        //src: getMarkerURL(),
        src: getMarker(deviceID),
        scale: 1,
      })
    }); 
    
    //new test with icon
    iconFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([last_lon_point, last_lat_point])),
        //geometry: new ol.geom.Point(ol.proj.fromLonLat([last_lat_point, last_lon_point])),
    });

    iconFeature.setStyle(iconStyle);

    vectorIconSource = new ol.source.Vector({
      iconFeature
    });

    iconVectorLayer = new ol.layer.Vector({
        source: vectorIconSource,
    });

    iconVectorLayer.getSource().addFeature(iconFeature);  


    // create map and add layers
    map = new ol.Map({
      target: 'map',

      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),
        vectorLayer,
        vectorLayer_lines,
        marker_target,
        iconVectorLayer
        // vectorLayer_last,     
      ],

      view: new ol.View({
        center: ol.proj.fromLonLat([last_lon_point, last_lat_point]),
        //center: ol.proj.fromLonLat([last_lat_point, last_lon_point]),
        zoom: getZoomValue()
      })
    });
    


</script>

</body>
</html>